[data-id="message-list-item"],
[data-id="users-list-item"] {
  text-align: left;
  padding-bottom: 5px;
}

[data-id="users-list-item"]:hover {
  background: white;
  cursor: pointer;
}

.user-select:hover {
  background: white;
  cursor: pointer;
}

#users-list {
  background: #ededed;
  padding: 0;
}

#messages-list,
#users-list {
  list-style: none;
}

#chat-window {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  width: 50%;
}

#user-menu {
  width: 15%;
  height: 100%;
}

#message-input {
  margin-left: 40px;
}

.user-select {
  border: 0;
  background: none;
}
